@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Exo', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #8f94fb;
}


@media only screen and (max-width: 2412px) and (min-width: 599px) {
  
    .context {
        position: relative;
        height: 100%;
        width: 100%;
          
      }
      .context video{
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;  
        width: 95%;
        height: auto;  
        margin: 5px;
        border: #4e54c8 solid 0.5rem;
        border-radius: 1rem;
        /* position: relative;
        height: auto;
        width: auto;
        display: block; */
      }
      
      .title{
          color: aliceblue;
          text-align: center;
          background-color: rgba(42, 54, 165, 0.747);
          border: blueviolet 0.1rem solid;
          border-radius: 50px;
      }
      
      .yogimage{
        border: #4e54c8 solid 0.5rem;
        height: 500px;
        width: 500px;
        margin-left: 40px;
      }
      
      
      .title2{
          color: aliceblue;
          text-align: center;
          margin-top: 65%;
          margin-bottom: -20px;
          background-color: rgba(42, 54, 165, 0.747);
          border: blueviolet 0.1rem solid;
          border-left: none;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
      }

      .yoganame{
        font-size:x-large;
        color: aliceblue;
        text-align: center;
        margin-top: 60px;
        margin-left: 180px;
        margin-right: 50px;
        background-color: rgba(42, 54, 165, 0.747);
        border: blueviolet 0.1rem solid;
        border-radius: 50px;
      }
    
     

}

@media only screen and (max-width: 600px) {
    
    .context {
        position: relative;
        height: 500%;
        width: 100%;
          
      }
.context video{
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  width: 95%;
  height: auto;  
  margin: 5px;
  border: #4e54c8 solid 0.5rem;
  border-radius: 1rem;
  /* position: relative;
  height: auto;
  width: auto;
  display: block; */
}

.title{
    color: aliceblue;
    text-align: center;
    background-color: rgba(42, 54, 165, 0.747);
    border: blueviolet 0.1rem solid;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.yogimage{
    border: #4e54c8 solid 0.5rem;

  }


.title2{
    color: aliceblue;
    text-align: center;
    margin-top: 65%;
    margin-bottom: -20px;
    background-color: rgba(42, 54, 165, 0.747);
    border: blueviolet 0.1rem solid;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.yoganame{
    font-size:x-large;
    color: aliceblue;
    text-align: center;
    background-color: rgba(42, 54, 165, 0.747);
    border: blueviolet 0.1rem solid;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .imgyogname{
    margin-left: -10px;
  }

}

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */

  
  .containers{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    /* width: 1080px;
    height: 480px; */
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width: 100%;
    height: 100%;
    /* height:100vh; */
    
   
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
